.highlight-wanted {
    background-color: tomato;
    border-radius: 10px;
    padding: 5px;
}

.highlight-jumpit {
    background-color: tomato;
    border-radius: 10px;
    margin: 5px;
}

.highlight-rocketpunch {
    background-color: tomato !important;
}

.wanted-filter-tag-container {
    position: absolute !important;
    bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 10px;
}

.wanted-filter-tag {
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    background-color: green;
    color: white;
}
